<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', path='/custom.css' ) }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="main-bg-color">
    <header class="container">
        <nav class="navbar navbar-expand-lg text_color">
            <a class="navbar-brand link-color" href="/">IT news</a>
            <div class="collapse navbar-collapse">
                <ul class="nav justify-content-center text_color">
                    <li class="nav-item"><a class="nav-link link-color" href="https://habr.com/ru/news/">Habr</a></li>
                    <li class="nav-item"><a class="nav-link link-color" href="https://lenta.ru/rubrics/media/hackers/">Lenta</a></li>
                    <li class="nav-item"><a class="nav-link link-color" href="/about">About</a></li>
                </ul>
              </div>
        </nav>
    </header>
    <main class="main bg-color text_color">
        {% block content %}{% endblock %}
    </main>
    </main>
    <footer class="footer container text-center text_color">
        by <a href="" class="link-color">HemenguelBindi</a>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>